# Виртуальное окружение
venv/
.venv/
env/
.env/

# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Отчеты тестов
reports/
.allure/
test-results/
playwright-report/
playwright/.cache/

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Логи и временные файлы
*.log
*.tmp

# Артефакты Playwright
test-results/
playwright-artifacts/

# Переменные окружения
.env.local
.env.*.local